.ei-btn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    height: 36px;
    width: auto;
    min-width: 64px;
    padding: 0 16px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    color: #FFF;
    background-color: rgb(33, 150, 243);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    transition: box-shadow 0.2s;
}

.ei-btn::-moz-focus-inner{
    border: none;
}

.ei-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.2s;
}


.ei-btn::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 1s, transform 0.5s;
}

.ei-btn:hover,
.ei-btn:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.ei-btn:hover::before {
    opacity: 0.1;
}

.ei-btn:focus::before {
    opacity: 0.2;
}

.ei-btn:hover:focus::before {
    opacity: 0.3;
}

.ei-btn:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.ei-btn:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

.ei-btn:disabled {
    color: rgba( 0, 0, 0, 0.38);
    background-color: rgba( 0, 0, 0, 0.12);
    box-shadow: none;
    cursor: not-allowed;
}

.ei-btn:disabled::before {
    opacity: 0;
}

.ei-btn:disabled::after {
    opacity: 0;
}